body {
    margin : 0px !important;
    padding: 0px !important;
}

.red {
    border: 1px solid red;
}

.banner {
    height    : 500px;
    background: url('./banner.jpg') center center no-repeat;
    padding   : 20px;

    .about-signin {
        height    : 80px;
        width     : 100%;
        text-align: right;

        .about,
        .signin {
            text-decoration: none;
            padding        : 10px 15px;
            margin-top     : 20px;
            display        : inline-block;
            text-transform : uppercase;
        }

        .signin {
            margin-right : 60px;
            margin-left  : 25px;
            border-radius: 20px;
            border       : 1px solid green;
            color        : green;
        }
    }

    .logo {
        background: url('./hapoERP.png') center center no-repeat;
        margin    : 40px;
        height    : 100px;
    }

    .text {
        margin-top: 30px;
        text-align: center;
        color     : green;
    }

    .btn-start-now {
        text-align: center;

        button {
            text-transform: uppercase;
            padding       : 10px 15px;
            border-radius : 20px;
            border        : 1px solid green;
            margin-top    : 25px;
            cursor        : pointer;
        }
    }

    .content-center {

        .left,
        .right,
        .center {
            width        : 33%;
            display      : inline-block;
            text-align   : center;
            margin-top   : 20px;
            margin-bottom: 20px;
        }

        span {
            display    : block;
            font-size  : 25px;
            padding-top: 5px;
        }

        img {
            width : 30px;
            height: 30px;
        }
    }
}